<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Properties>
        <Property name="LOG_PATH">logs</Property>
        <Property name="LOG_FILE_NAME">mdc-demo.log</Property>
        <Property name="THREAD">%style{[thread=%t]}{blue}</Property>
        <Property name="REQ">%style{[req=%X{requestId}]}{cyan}</Property>
        <Property name="USER">%style{[user=%X{userId}]}{magenta}</Property>
        <Property name="LEVEL">%highlight{%5p}{FATAL=red blink, ERROR=red, WARN=yellow, INFO=green, DEBUG=cyan, TRACE=white}</Property>
        <Property name="LOGGER">%style{%c{1.}}{green}</Property>
    </Properties>

    <Appenders>
        <!-- Консоль с цветами -->
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout disableAnsi="false" pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} ${THREAD} ${REQ} ${USER} ${LEVEL} ${LOGGER} - %msg%n"/>
        </Console>

        <!-- Основной лог -->
        <RollingFile name="RollingFile" fileName="${LOG_PATH}/${LOG_FILE_NAME}"
                     filePattern="${LOG_PATH}/${LOG_FILE_NAME}.%d{yyyy-MM-dd}">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} [thread=%t] [req=%X{requestId}] [user=%X{userId}] %-5p %c{36} - %msg%n"/>
            <Policies>
                <TimeBasedTriggeringPolicy />
            </Policies>
        </RollingFile>

        <!-- Логи многопоточного процессора -->
        <RollingFile name="MultiThreadFile" fileName="${LOG_PATH}/multi-thread.log"
                     filePattern="${LOG_PATH}/multi-thread.log.%d{yyyy-MM-dd}">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} [thread=%t] [req=%X{requestId}] [user=%X{userId}] %-5p %c{36} - %msg%n"/>
            <Policies>
                <TimeBasedTriggeringPolicy />
            </Policies>
        </RollingFile>
    </Appenders>

    <Loggers>
        <!-- Ловим логи именно из RequestProcessor -->
        <Logger name="ua.pro.baynova.lessons.RequestProcessor" level="info" additivity="false">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="MultiThreadFile"/>
        </Logger>

        <!-- Всё остальное -->
        <Root level="info">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="RollingFile"/>
        </Root>
    </Loggers>
</Configuration>
